<div class="oneli">
  <li>
    <div class="oneCat">
      <img class="singleimg" src="<%= teaimgurl %> " alt="">
      <h3>
        <%= teaname %>
      </h3>
      <div class="orgplace">产地:<span>
          <%= origin %>
        </span></div>
      <a rel=noopener target="_blank" href="https://baike.baidu.com/item/<%= teaname %> ">点击查看详情</a>
      <div class="infotext">
        <h3>简介</h3>
        <p>
          <%= briefIntro %>
        </p>
      </div>
    </div>
  </li>
  <i class="edit" data-id="<%= id %>"><i class="iconfont icon-edit"></i></i>
  <i class="delete" data-id="<%= id %>"><i class="iconfont icon-delete"></i></i>
</div>